{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div>

            <div class="navbar-header">
                <a class="navbar-brand" href="https://www.linkedin.com/company/geosystems-analysis-inc-/" style="padding: 1px 25px">
                <img alt="Brand" src="{% static 'images/GSA_alpha.png' %}" > 
                </a>
                <a class="navbar-brand" href="https://webapps.usgs.gov/MRGESCP/data/river-eyes#" style="padding: 1px 25px">
                    <img alt="Brand" src="{% static 'images/usgs_alpha.png' %}" > 
                    </a>
                    <a class="navbar-brand site-title" href="{% url 'index' %}" style="font-size:20px">River Eyes Monitoring Program</a>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills navbar-right" style="font-size: 18px">
                <!--  <li role="presentation" ><a href="{% url 'index' %}"> Home</a></li>   -->
                <!--  <li role="presentation" ><a href="{% url 'dry' %}"> Dryness Data</a></li>  -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drying Data <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'dry_segments' %}">Dry Segments Heatmap</a></li>
                      <li><a href="{% url 'delta_dryness' %}">Dryness Change Table</a></li>
                      <li><a href="{% url 'dry_length_comparison' %}">Dry Lengths Affected Table</a></li>
                      <li><a href="{% url 'filtered_dry_segments' %}">Dry Segments Table</a></li>
                      <li><a href="{% url 'filtered_features' %}">River Miles and Features Table</a></li> 
                      <li><a href="{% url 'dry_comp' %}">Annual Dryness Statistics Table</a></li>
                      <li><a href="{% url 'dry_days' %}">Dry Days Table</a></li> 
                    </ul>
                    
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flow Data <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'usgs_series' %}"> Visualization of USGS Time Series Data</a></li>
                        <li><a href="{% url 'summary_usgs' %}"> Summary table of USGS discharge measurements</a></li>
                    </ul>
                </li>
                <!--  <li role="presentation" ><a href="{% url 'usgs' %}"> Flow Data</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps and Dashboards<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'map' %}">Feature Map</a></li>
                        <li><a href="{% url 'heatmap' %}">Drying Heatmap</a></li>
                        <li><a href="{% url 'dashboard_dry_segments' %}">Drying Segments Dashboard</a></li>
                        <li><a href="{% url 'dashboard_dry_events' %}">Dry Events Dashboard</a></li>
                    </ul>
                </li>
                <li role="presentation" style="margin-right: 10px"><a class="dropdown-about" href="{% url 'about' %}">About</a></li>
                <!--     <li role="presentation" ><a href="{% url 'map' %}"> Interactive Map</a></li>    -->
                <!--     <li role="presentation" class="disabled"><a href="{% url 'dashboard' %}"> Dashboards</a></li>    -->
            </ul>
        </div>
         </div>
    </nav>
</header>

<div class="container"> 
    <h3> '' </h3>
</div>