{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
 
<div class="col-sm-10">
    <div class="pull-right">
        {% if view.export_formats %}
            {% for format in view.export_formats %}
            <a href="{% export_url format %}" class="btn btn-xs btn-default">
                Download  <code>.{{ format }}</code>
            </a>
            {% endfor %}
        {% endif %}
    </div>
    {% if filter %}
    <div class="form-group col-sm-12"> 
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Filter' button_type='submit'%}
        </form>
    
    </div>
    {% endif %}
<div class="col-sm-10">
    {% render_table table %}
</div>
