django==4.1.6 
cloudpickle
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
django-bootstrap3
django-bootstrap4
django-crontab
django-debug-toolbar
django-filter
django-plotly-dash
django-tables2
jinja2
jsonschema
mysql-connector-python
pandas
pickleshare
plotly
pymysql
django-mysql
tablib
cryptography
dj-database-url
dataretrieval
