{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="container">

    <nav class="navbar navbar-inverse">

        <ul class="nav nav-nav">
            <li role="presentation" ><a href="{% url 'dashboard' %}"> Dashboard home </a></li>
            <li role="presentation" class="disabled"><a href="{% url 'dashboard_dry_segments' %}"> Dashboard for dry segments (rm-discretized dry and non-dry segments) by flow conditions and dates  </a></li>
            <li role="presentation" class="disabled"><a href="{% url 'dashboard_dry_events' %}"> Dashboard for dry events (number of days dry within each reach) by flow conditions and dates  </a></li>>
        </ul>

    </nav>

</div>


<div class="container"> 
    <h3> Dryness </h3>
    <p class="font-weight-bold"> This is a nav page for dryness data in the Middle Rio Grande </p>
</div>
{% endblock %}