{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="container">
    <img src="{% static 'images/dashboard_dry_segments.PNG' %}" > 
</div>


<div class="container"> 
    <h3> Dashboard Dry Segments  </h3>
    <p class="font-weight-bold"> query drysegments (rm-discretized dry and non-dry segments) by flow conditions and dates (months too)</p>
</div>
{% endblock %}