{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block content %}
<body>

    <div class="container"> 
        <h2> Dryness Change </h2>
        <p class="font-weight-bold"> This is a detailed page for change in dryness along the Middle Rio Grande, grouped by different time quantities </p>
    </div>

    <div class="container" style="margin-top:30px">
            
            <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }} 
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="container" style="margin-bottom:30px">
        {% load querystring from django_tables2 %}
        <a href="{% querystring '_export'='csv' %}">Download CSV</a>
        <a href="{% querystring '_export'='xlsx' %}">Download XLSX</a>
    </div>

    <div class="container">
        {% render_table table %}
    </div>

 

</body>
{% endblock %}
