{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
{% block title %} River Eyes Monitoring Program - Drying Change {% endblock %}
{% block content %}

<body>
    <div class="container.col-md-4" style="margin-top: 30px; margin-bottom: 15px; padding-left:30%; padding-right:30%"> 
        <h1 class="text-center" style="color:#012E40"> <strong>Drying Change</strong> </h1>
        <p class="text-center" style="color:#012E40">  This table displays changes in dry length from the previous day/month/year. When grouped by day, Dry Length refers to the distance between upstream and downstream extent of drying reported on that day. When grouped by month or year, Dry Length refers to the maximum single-day dry length during that time period </p>
        <p class="text-center" style="color:#012E40"> <i>> Use the dropdown menu to filter by reach</i></p>
        <p class="text-center" style="color:#012E40"> <i>> When filtering by reach, selecting "River Wide" means that dry lengths in different reaches are added into a single value. Selecting "All" will display data for all three reaches as separate rows</i></p>
        <p class="text-center" style="color:#012E40"> <i>> Positive values for Difference Previous Dry Length indicate rewetting events</i></p>
        <p class="text-center" style="color:#012E40"> <i>> Click on column headers once to sort ascending, and a second time to sort descending</i></p>
        
    </div>

    <div class="container"> 
        <div>
            <div class="pull-right">
                {% load querystring from django_tables2 %}
                <a href="{% querystring '_export'='csv' %}" class="btn btn-xs btn-default">
                    Download CSV
                </a>
                <a href="{% querystring '_export'='xlsx' %}" class="btn btn-xs btn-default">
                    Download XLXS
                </a>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="flex-wrapper">     
                <div class="flex-container">
                    <div class="flex-element">
                        <fieldset>
                            {% with field=form.group_by %}
                            <legend style="font-size: 14px; font-weight: bold;">Time Period </legend>
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label }} {{ field }}
                                    {{ field.help_text }}
                                </div>
                            {% endwith %}                        
                        </fieldset>
                    </div>
                    <div class="flex-element">
                        <fieldset>                   
                            {% with field=form.reach_select %}
                            <legend style="font-size: 14px; font-weight: bold;">Reach </legend>
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label }} {{ field }}
                                    {{ field.help_text }}
                                </div>
                            {% endwith %}
                        </fieldset>
                    </div>
                    <div class="flex-button-group">
                        <button type="submit" class="btn btn-primary" style="height: 40px; width: 100px;">Filter</button>
                    </div>
                </div>
            </div>
        </form>


        <div class="col-sm-10">
            {% render_table table %}
        </div>
    </div>
 
</body>
{% endblock %}