{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
{% block title %} River Eyes Monitoring Program - Drying Change {% endblock %}
{% block content %}

<body>
    <div class="container.col-md-4"></div>
    <div class="container.col-md-4" style="margin-top: 30px; margin-bottom: 15px; padding-left:30%; padding-right:30%"> 
        <h1 class="text-center" style="color:#012E40"> <strong>Drying Change</strong> </h1>
        <p class="text-center" style="color:#012E40">  <i>This table displays changes in dry length from the previous day/month/year. When grouped by day (the default setting), Dry Length refers to the distance between upstream and downstream extent of drying reported on that day. When grouped by month or year, Dry Length refers to the distance between the highest upstream extent and lowest downstream extent during that time period </i></p>
        <p class="text-center" style="color:#012E40"> <i>Use the dropdown menu to filter by reach</i></p>
        <!-- <p class="text-center" style="color:#012E40"> <i></i></p> -->
    </div>
    <div class="container.col-md-4"></div>

    <div class="container" style="margin-top:30px">
            
            <form action="" method="post">
            {% csrf_token %}
            <ul class="list-unstyled" style="display:inline-block">
                {{ form.as_ul }}
            </ul>
            <!-- <table>
            {{ form.as_table }} 
            </table> -->
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="container" style="margin-bottom:30px">
        {% load querystring from django_tables2 %}
        <a href="{% querystring '_export'='csv' %}">Download CSV</a>
        <a href="{% querystring '_export'='xlsx' %}">Download XLSX</a>
    </div>

    <div class="container">
        {% render_table table %}
    </div>

 

</body>
{% endblock %}
