{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
{% block title %} River Eyes Monitoring Program - Dry Segments {% endblock %}
{% block content %}
<body>
    <div class="container.col-md-4" style="margin-top: 30px; margin-bottom: 15px; padding-left:30%; padding-right:30%">  
        <h1 class="text-center" style="color:#012E40"> <strong>Dry Segments Heatmap</strong> </h1>
        <p class="text-center" style="color:#012E40">  In this visualization, dry segments are represented by lighter colored pixels. The horizontal axis represents the date, and the vertical axis represents river miles - which increase from downstream to upstream.  </p>
        <p class="text-center" style="color:#012E40"> <i> > Select year using the slider below </i></p>
        <p class="text-center" style="color:#012E40"> <i>> Click and drag to zoom on a date/river mile range. Double-click to reset zoom </i></p>
        <p class="text-center" style="color:#012E40"> <i>> Use the reach and subreach dropdown menus to focus the vertical axis on those river miles </i></p>
        <p class="text-center" style="color:#012E40"> <i>> Toggle visibility of feature and gage layers to the right of the plot</i></p>
        <p class="text-center" style="color:#012E40"> <i>> The 'Download Data" button generates an Excel file of the entire time series, where cell values of 1 represent dryness and each year is contained in a separate sheet. </i></p>

    </div>

    <div class="container-fluid">
        <div class="pull-right">
            <a href="/static/data/heatmap.xlsx" class="btn btn-xs btn-default">
                Download Data
            </a>
        </div>
    </div>

    <div class="container-fluid">
        {{target_plot|safe}}
    </div>

  
</body>
{% endblock %}
