{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container"> 
    {% include 'riogrande/includes/table.html' %}
</div>
<div class="container"> 
    <h3> Details of Dry Segments  </h3>
    <p class="font-weight-bold"> This is a detail page containing information about dry segments in the Middle Rio Grande </p>
</div>
{% endblock %}