{% extends 'riogrande/header.html' %}
{% load static %}
{% load bootstrap3 %}


{% block title %} River Eyes Monitoring Program - Drying Heatmap{% endblock %}

{% block content %}
    <!-- <iframe src="https://experience.arcgis.com/experience/b5a047a8ad9544d28ce661765cae4901/"
			frameborder="0"
			marginheight="0"
			marginwidth="0"
			width="100%"
			height="100%"
			scrolling="auto">
</iframe> -->

<iframe src="https://experience.arcgis.com/experience/b5a047a8ad9544d28ce661765cae4901/" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe>

{% endblock %}

