{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block title %} River Eyes Monitoring Program {% endblock %}

d{% block content %}
<!-- <div class="container"> 
    <img src="{% static 'AdobeStock-202518783-RioGrande.jpg' %}" >  
</div> -->

<div class="embed-responsive embed-responsive-16by9"> 
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fdgWNx6qwws?playlist=fdgWNx6qwws&autoplay=1&mute=1&controls=0&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<!--   
    
<div class="container-fluid"> 
    <h3> RiverEyes </h3>
    <p class="font-weight-bold"> This is a website about the dryness in the Middle Rio Grande, brought to you by GeoSystems Analysis </p>
</div>

-->

{% endblock %}