{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block title %} River Eyes Monitoring Program {% endblock %}

{% block content %}

<head>
    <style>
        a {
            color: #012E40;
        }
    </style>
</head>


<div class="container-fluid" style="padding=0px">
    <img class="image-responsive" src="{% static 'images/BackgroundImage.jpg' %}" alt="Rewetting" style="width:100%">
    <div class="position-absolute" style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); background: rgba(255,255,255,0.7); padding:25px; border-style: solid; width:50% ">
        <h3><em><b>Welcome to the River Eyes Data Portal</b></em></h3>
            <p><em>This page contains data collected on river drying in the Middle Rio Grande since 2002. These data are presented in the following tables, interactive data visualizations and web maps. For background information and details of the monitoring program visit the <b><a href="{% url 'about' %}">About</a> </b> page.</em></p>

        <h2><b>Tabular Data</b></h2>
            <p><b><a href="{% url 'delta_dryness' %}">Changes in Dry Length: </a> </b> Table displaying changes in dry length relative to the previous day/month/year </p>
            <p><b><a href="{% url 'dry_length_comparison' %}">Dry Length by Day: </a></b> Displays dry length by day in both river miles and percentage of the total reach </p>
            <p><b><a href="{% url 'filtered_dry_segments' %}">Dry Segment Details: </a></b> For all recorded dry segments, displays length in river miles, upstream extent and downstream extent </p>
            <p><b><a href="{% url 'dry_comp' %}">Annual Drying Statistics: </a> </b> Summary statistics for each year, including min/max dry extents, max dry length, first and last day of drying </p>
            <p><b><a href="{% url 'dry_days' %}">Total Number of Dry Days: </a> </b> For each reach, displays total number of dry days and average dry length, grouped by month or year. </p>
            <p><b><a href="{% url 'dashboard_dry_length_flow_table' %}">Dry Lengths in Relation to Streamflow: </a> </b> For each dry segment, displays dry length, upstream river mile, and mean daily discharge of USGS gages on that day </p>
            <p><b><a href="{% url 'summary_usgs' %}"> Mean Daily Discharge of USGS Stream Gages: </a> </b> Displays mean discharge by day, for USGS stream gages along the Middle Rio Grande</p>
            <p><b><a href="{% url 'filtered_features' %}">Locations of MRG Features and Landmarks: </a> </b> For features and landmarks along the Middle Rio Grande such as USGS gages, diversion dams, outfalls, etc, displays river mile and lat/long coordinates </p>
      
        <h2><b>Figures and Dashboards</b></h2>
            <p><b><a href="{% url 'dry_segments' %}">Dry Segments Heatmap</a> </b> Visualization of dry segments throughout each year, with date on the horizontal axis and river mile on the vertical axis. </p>
            <p><b><a href="{% url 'usgs_series' %}"> Time Series of USGS Streamflow Data</a> </b> Interactive graphs of mean daily discharge, for all USGS stream gages in the Middle Rio Grande </p>
            <p><b><a href="{% url 'dash_drylen_aggusgsdata_view2' %}">Dry Segments and Streamflow Dashboard</a> </b> A combination of the above two figures, for comparing dryness with stream discharge </p>
            <p><b><a href="{% url 'dashboard_dry_events' %}">Drying Events Dashboard</a> </b> ??? </p>

        <h2><b>Web Maps</b></h2>
            <p><b><a href="{% url 'map' %}">Features and Landmarks</a> </b> Interactive web map with locations of features and landmarks, river mile hundredths along the centerline, stream gages, conveyances and range lines. </p>
            <p><b><a href="{% url 'heatmap' %}">Drying Heatmap</a> </b> Visualization of number of dry days along the Middle Rio Grande as a heat map. Layers are included for individual years, mean dry days and total dry days since 2002 </p>
    </div>
  </div> 



<!-- 
<div class="embed-responsive embed-responsive-16by9"> 
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fdgWNx6qwws?playlist=fdgWNx6qwws&autoplay=1&mute=1&controls=0&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div id="overlay"><h1>TEXT</h1></div>
</div> -->




{% endblock %}