{% extends 'riogrande/header.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}

{% block title %} River Eyes Monitoring Program - USGS Discharge Summary Table {% endblock %}

{% block content %}

<div class="container.col-md-4"></div>
<div class="container.col-md-4" style="margin-top: 30px; margin-bottom: 30px; padding-left:30%; padding-right:30%"> 
    <h1 class="text-center" style="color:#012E40"> <strong>USGS Discharge Summary</strong> </h1>
    <p class="text-center" style="color:#012E40">  This table displays mean discharge by day, for USGS stream gages along the Middle Rio Grande</p>
    <p class="text-center" style="color:#012E40"> <i>A "P" under the Data Qualifer column indicates provisional data, while "A" indicates approved data. See more details from the USGS <a href="https://help.waterdata.usgs.gov/codes-and-parameters/instantaneous-value-qualification-code-uv_rmk_cd"><b>here</b></a></i></p>
    <!-- <p class="text-center" style="color:#012E40"> <i></i></p> -->
</div>
<div class="container.col-md-4"></div>

<div class="container"> 
    {% include 'riogrande/includes/table.html' %}
</div>

{% endblock %}